<%= form_for @instructor do |f| %>
  <div>
    <%= f.label :profile_picture, 'Foto de perfil' %><br>
    <%= f.text_field :profile_picture %>
  </div>
  <div>
    <%= f.label :name, 'Nome' %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :bio, 'Descrição' %><br>
    <%= f.text_area :bio %>
  </div>
  <div>
    <%= f.label :email, 'Email' %><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.submit 'Salvar' %>
  </div>
<% end %>

<%= link_to 'Voltar', instructors_path %>
