<% if @instructors.empty? %>
  <div>Nenhum professor cadastrado</div>
<% else %>
  <% @instructors.each do |instructor| %>
  <div>
    <div><%= image_tag '' %></div>
    <h2><%= link_to instructor.name, instructor %></h2>
    <p><%= instructor.email %></p>
  </div>
  <% end %>
<% end %>

<%= link_to 'Voltar', root_path %>
<%= link_to 'Registrar um Professor', new_instructor_path %>
