<div>
<h1><%= @instructor.name %></h1>
<h3><%= @instructor.bio %></h3>
<h3><%= @instructor.email %></h3>
<h3><%= @instructor.profile_picture %></h3>
</div>

<%= link_to 'Voltar', instructors_path %>
<%= link_to 'Apagar registro', instructor_path(@instructor), method: :delete %>
<%= link_to 'Editar', edit_instructor_path(@instructor) %>