<div>
<%# FIXME server error if instructor has no picture - add that to tests %>
<div><%#= image_tag @instructor.profile_picture %></div> 
<h1><%= @instructor.name %></h1>
<p><%= @instructor.bio %></p>
<p><%= @instructor.email %></p>
</div>

<%= link_to 'Voltar', instructors_path %>
<%= link_to 'Apagar registro', instructor_path(@instructor), method: :delete %>
<%= link_to 'Editar', edit_instructor_path(@instructor) %>