<% if @courses.empty? %>
  <div>Nenhum curso disponível</div>
<% else %>
  <% @courses.each do |course| %>
  <div>
  <h2><%= link_to course.name, course  %></h2>
  <h3><%= course.description %></h3>
  <h3><%= course.code %></h3>
  <h3><%= number_to_currency course.price, unit: 'R$', separator: ',', delimiter: '.', format: '%u %n' %></h3>
  </div>
  <% end %>
<% end %>

<%= link_to 'Voltar', root_path %>
<%= link_to 'Registrar um Curso', new_course_path %>
