<div>
<h1><%= @course.name %></h1>
<h3><%= @course.description %></h3>
<h3><%= @course.instructor.name %></h3> 
<h3><%= @course.code %></h3>
<h3><%= number_to_currency @course.price, unit: 'R$', separator: ',', delimiter: '.', format: '%u %n' %></h3>
<h3><%= @course.enrollment_deadline.strftime('%d/%m/%Y') %></h3>
<%= link_to 'Comprar', enroll_course_path, method: :post %>
</div>

<%= link_to 'Apagar curso', admin_course_path(@course), method: :delete %>
<%= link_to 'Editar curso', edit_admin_course_path(@course) %>

 <% if @lessons.empty? %>
  <p>Nenhuma aula cadastrada ainda</p>
 <% else %>
  <dl>
    <% @lessons.each do |lesson| %>
      <dt>Aula <%= lesson.number %></dt>
      <dd><%= lesson.name %></dd>
    <% end %>
  </dl> 
 <% end %>

 <%# <%= form_with model: @lesson, url: course_lessons_path(@course) do |f| %> %>
 <%= form_with model: [@course, @lesson] do |f| %>
  <div>
    <%= f.label :number, 'Número da aula' %><br>
    <%= f.number_field :number %>
  </div>
  <div>
    <%= f.label :name, 'Nome' %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit 'Registrar aula' %>
  </div>
<% end %>

<%= link_to 'Voltar', admin_courses_path %>